

ul {
    list-style-type: none;
}

#movie-result {
    position: fixed;
    top : 60%;
    right : 0;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    width : auto;
    transition: .5s ease;
    padding : 20px;
    border-radius: 20px;
}

#movie-result.active {
    background : linear-gradient(to left,rgba(48, 48, 48, 1),#2f2f2f49);
    opacity: 1;
}



#movie-result .icon {
    font-size: var(--font-xl);
    margin : 0 20px;
}

#movie-result .movie-list-side {
    opacity: .7;
    width: 100%;
}
#movie-result.active .movie-list-side {
    opacity: 1;
}

#movie-result .movie-list-side .movie-list-item {
    margin-bottom: 30px;
}



#movie-result .movie-list-side .movie-list-item .movie-img {
    height : 150px;
}

#movie-result .movie-list-side .movie-list-item * {
    opacity: .7;
}

#movie-result.active .movie-list-side .movie-list-item * {
    opacity: 1;
}

#movie-result .movie-list-side .movie-list-item .movie-popular {
    font-size : 20px;
}

#movie-result .movie-list-side .movie-list-item .movie-title {
    font-size: var(--font-l);
    margin-top : 10px;
    margin-bottom: 15px;
}

#movie-result .movie-list-side .movie-list-item .rating-and-duration *,
#movie-result .movie-list-side .movie-list-item .genre-list * {
    margin-right : 20px;
}

#movie-result .movie-list-side .movie-list-item .icon-star {
    margin : 0;
    margin-right : 5px;
    color : yellow;
    font-size : 20px;
}

#movie-result  .icon {
    transition: .2s linear;
    cursor: pointer;
}


#movie-result.active .icon-left {
    transform: rotate(180deg);
}

#movie-result .movie-list-side .movie-list-item {
    display: flex;
} 

#movie-result .movie-list-side .movie-list-item .movie-info {
    margin-left: 20px;
    width: 0;
    height: 150px;
    opacity: 0;
    transition: .3s ease;
}

#movie-result.active .movie-list-side .movie-list-item .movie-info {
    width: 250px;
    opacity: 1;
    height: 150px;
}


@media only screen and (max-width : 630px) {
    #movie-result.active {
        width: 100%;
        height : 100%;
    }
    
    .movie-list .movie-list-container {
        justify-content: center;
    }
}
