
/* hoovie list */
.movie-list {
    background-color: var(--primary-color);
    min-height: 100vh;
    padding : 20px;
    padding-bottom: 0px;
}


.icon {
    font-size : 20px;
    color : white;
}

.movie-list .title-section:first-child {
    padding-top : 60px;
}

.movie-list .title-section {
    font-size : var(--font-l);
    position : relative;
    margin-bottom : 40px;
}

.movie-list .title-section::after {
    content : "";
    position : absolute;
    bottom :  -30px;
    left: 0;
    background-color: var(--secondary-color);
    height: 5px;
    width : 80%;
    border-radius : 2px;
}

.movie-list .movie-list-container {
    display: flex;
    justify-content: flex-start;
    padding-top : 30px;
    text-align: center;
    flex-wrap: wrap;
}

.movie-list .movie-list-container .movie-card {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-right: 100px;
    margin-bottom : 30px;
    transition: .2s linear;
    cursor: pointer;
}

.movie-list .movie-list-container .movie-card:hover {
    transform : scale(1.05);
}


.movie-list .movie-list-container .movie-card .rating {
    position: absolute;
    top : 0;
    left: 0;
    padding : 15px;
    border-bottom-right-radius: 10px;
    background-color: #2c333373;
}


.movie-list .movie-list-container .movie-card .img-movie {
    width: 200px;
    box-shadow: 0 3px 7px rgba(39, 39, 39, 0.713);
    border-radius: 10px;
}

.movie-list .movie-title,
.movie-list .year {
    font-size: 20px;
}

.movie-list .movie-title {
    margin-top : 10px;
}


@media only screen and (max-width : 630px) {
    .movie-list .movie-list-container {
        justify-content: center;
    }
}